.hero {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero__title {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: var(--color-text);
}

.hero__title_gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__cta {
    display: flex;
    gap: 32px;
}

.hero__right {
    max-width: 500px;
    border-radius: 50px;
    transform: scaleX(-1);
}

.button-more {
    text-align: center;
}

@media (max-width: 1200px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero__title {
        text-align: center;
    }

    .hero__cta {
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 680px) {
    .hero__title {
        font-size: 30px;
        line-height: 120%;
    }

    .hero__right {
        width: 100%;
    }

    .hero {
        padding: 10px 20px;
    }

}

@media (max-width: 480px) {
    .hero__cta {
        gap: 16px;
    }
}